<%- include("header") -%> 
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 success-jumbotron">
      <h1 class="display-5 fw-bold">Success!!</h1>
      <p class="col-md-8 fs-4 success-p">Post is successfully posted on the website.</p>
      <form action="/" >
        <button class="btn btn-secondary button" type="submit">Go back</button>
      </form>
    </div>
</div>
<%- include("footer") -%>